body {
  max-width: 1280px;
  margin: 0 auto;
} 


.pages{
    .page-people {
        margin-top: 20px;
    }

    .page-planet {
        margin-top: 20px;
    }

    .page-starship {
        margin-top: 20px;
    }
}